<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       					   http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:annotation-config/>
    <mvc:annotation-driven/>
    <mvc:resources mapping="/resources/**" location="/resources/"/>

    <bean name="userService" class="com.sap.poc.services.impl.UserServiceImp">
        <constructor-arg ref="hibernateUserDao"></constructor-arg>
    </bean>
    <bean name="hibernateUserDao" class="com.sap.poc.daos.impl.UserDaoImp">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="teamService" class="com.sap.poc.services.impl.TeamServiceImp">
        <constructor-arg ref="hibernateTeamDao"></constructor-arg>
    </bean>
    <bean name="hibernateTeamDao" class="com.sap.poc.daos.impl.TeamDaoImp">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="roleService" class="com.sap.poc.services.impl.RoleServiceImp">
        <constructor-arg ref="hibernateRoleDao"></constructor-arg>
    </bean>
    <bean name="hibernateRoleDao" class="com.sap.poc.daos.impl.RoleDaoImp">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="teamIntervalCalendarService" class="com.sap.poc.services.impl.TeamIntervalCalendarServiceImp">
        <constructor-arg ref="hibernateTeamIntervalCalendarDao"></constructor-arg>
    </bean>
    <bean name="hibernateTeamIntervalCalendarDao" class="com.sap.poc.daos.impl.TeamIntervalCalendarDaoImp">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="teamMemberShift" class="com.sap.poc.services.impl.TeamMemberShiftServiceImp">
        <constructor-arg ref="hibernateTeamMemberShiftDao"></constructor-arg>
    </bean>
    <bean name="hibernateTeamMemberShiftDao" class="com.sap.poc.daos.impl.TeamMemberShiftDaoImp">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="calendarDateService" class="com.sap.poc.services.impl.CalendarDateServiceImp">
        <constructor-arg ref="hibernateCalendarDateDao"></constructor-arg>
    </bean>
    <bean name="hibernateCalendarDateDao" class="com.sap.poc.daos.impl.CalendarDateDaoImp">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean name="NotificationService" class="com.sap.poc.services.impl.NotificationServiceImp">
        <constructor-arg ref="hibernateNotificationDao"></constructor-arg>
    </bean>
    <bean name="hibernateNotificationDao" class="com.sap.poc.daos.impl.NotificationDaoImp">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>